---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fluent-bit-plugin.name" . }}-fluent-bit
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "fluent-bit-plugin.labels" . | nindent 4 }}
data:
  add_tag_to_record.lua: |
    function add_tag_to_record(tag, timestamp, record)
        record["tag"] = tag
        return 1, timestamp, record
    end

  modify_severity.lua: |
    function cb_modify(tag, timestamp, record)
      local unified_severity = cb_modify_unify_severity(record)

      if not unified_severity then
        return 0, 0, 0
      end

      return 1, timestamp, record
    end

    function cb_modify_unify_severity(record)
      local modified = false
      local severity = record["severity"]
      if severity == nil or severity == "" then
    	return modified
      end

      severity = trim(severity):upper()

      if severity == "I" or severity == "INF" or severity == "INFO" then
        record["severity"] = "INFO"
        modified = true
      elseif severity == "W" or severity == "WRN" or severity == "WARN" or severity == "WARNING" then
        record["severity"] = "WARN"
        modified = true
      elseif severity == "E" or severity == "ERR" or severity == "ERROR" or severity == "EROR" then
        record["severity"] = "ERR"
        modified = true
      elseif severity == "D" or severity == "DBG" or severity == "DEBUG" then
        record["severity"] = "DBG"
        modified = true
      elseif severity == "N" or severity == "NOTICE" then
        record["severity"] = "NOTICE"
        modified = true
      elseif severity == "F" or severity == "FATAL" then
        record["severity"] = "FATAL"
        modified = true
      end

      return modified
    end

    function trim(s)
      return (s:gsub("^%s*(.-)%s*$", "%1"))
    end


  parsers.conf: |
    [PARSER]
        Name                containerd-parser
        Format              regex
        Regex               ^(?<time>[^ ]+) (stdout|stderr) ([^ ]*) (?<log>.*)$
        Time_Key            time
        Time_Format         %Y-%m-%dT%H:%M:%S.%L%z
        Time_Keep           true
        Decode_Field_As     json log

  fluent-bit.conf: |
    [Service]
        Daemon                    false
        Flush                     30
        Http_Listen               0.0.0.0
        Http_Port                 2020
        Http_Server               true
        Log_Level                 info
        Parsers_File              /fluent-bit/config/parsers.conf
        Hot_Reload                On
        Mem_Buf_Limit             100MB
        storage.path              /var/run/fluentbit/chunks
        storage.sync              full
        storage.metrics           on
        storage.checksum          off
        storage.max_chunks_up     200
        storage.backlog.mem_limit 50M
        storage.backlog.flush_on_shutdown true

    [Input]
        Name                      systemd
        Tag                       systemd.*
        Path                      /var/log/journal
        DB                        /var/run/fluentbit/systemd.db
        DB.Sync                   normal
        Mem_Buf_Limit             50MB
        Systemd_Filter            _SYSTEMD_UNIT=containerd.service
        Systemd_Filter            _SYSTEMD_UNIT=kubelet.service
        Read_From_Tail            On
        Strip_Underscores         Off

    [Input]
        Name                      tail
        Tag                       kubernetes.*
        Path                      /var/log/containers/*.log
        Refresh_Interval          10
        Ignore_Older              30m
        Skip_Long_Lines           On
        DB                        /var/run/fluentbit/flb_kube.db
        DB.Sync                   normal
        read_newly_discovered_files_from_head true
        storage.type              filesystem
        storage.pause_on_chunks_overlimit on


    [Filter]
        Name                      parser
        Match                     kubernetes.*
        Key_Name                  log
        Parser                    containerd-parser
        Reserve_Data              true
    [Filter]
        Name                      lua
        Match                     kubernetes.*
        script                    /fluent-bit/config/add_tag_to_record.lua
        call                      add_tag_to_record
    [Filter]
        Name                      lua
        Match                     kubernetes.*
        script                    /fluent-bit/config/modify_severity.lua
        call                      cb_modify

    [Filter]
        Name                      record_modifier
        Match                     systemd.containerd.*
        Record                    hostname ${NODE_NAME}
        Record                    unit containerd
    [Filter]
        Name                      record_modifier
        Match                     systemd.kubelet.*
        Record                    hostname ${NODE_NAME}
        Record                    unit kubelet


    [Output]
        Name                      gardener
        Match                     kubernetes.*
        SeedType                  otlpgrpc
        ShootType                 otlpgrpc
        DynamicHostPath           {"kubernetes": {"namespace_name": "namespace"}}
        DynamicHostPrefix         logging.
        DynamicHostSuffix         .svc.cluster.local:4317
        DynamicHostRegex          ^shoot-
        QueueDir                  /var/run/fluentbit/dque
        QueueName                 dynamic
        QueueSync                 normal
        Buffer                    false
        LogLevel                  info
        Endpoint                  logging-otel-collector-seed.fluent-bit.svc.cluster.local:4317
        Insecure                  true

        ThrottleEnabled           false
        ThrottleRequestsPerSec    250

        BatchProcessorMaxQueueSize    1000
        BatchProcessorMaxBatchSize    300
        BatchProcessorExportInterval  3s
        BatchProcessorExportTimeout   15s
        BatchProcessorExportBufferSize 100


        RetryEnabled              true
        RetryInitialInterval      5s
        RetryMaxInterval          300s
        RetryMaxElapsedTime       10m

        HostnameKeyValue          nodename ${NODE_NAME}
        FallbackToTagWhenMetadataIsMissing true
        TagKey                    tag

    [Output]
        Name                      gardener
        Match                     systemd.*
        SeedType                  otlpgrpc
        LogLevel                  error
        Endpoint                  logging-otel-collector-seed.fluent-bit.svc.cluster.local:4317
        Insecure                  true
        HostnameKeyValue          nodename ${NODE_NAME}
        FallbackToTagWhenMetadataIsMissing false
