---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fluent-bit-plugin.name" . }}-fluent-bit
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "fluent-bit-plugin.labels" . | nindent 4 }}
data:
  systemd.lua: |
    function set_systemd_record(tag, timestamp, record)
        new_record = {}
        timeStr = os.date("!*t", timestamp["sec"])
        t = string.format("%4d-%02d-%02dT%02d:%02d:%02d.%sZ",
        timeStr["year"], timeStr["month"], timeStr["day"],
        timeStr["hour"], timeStr["min"], timeStr["sec"],
        timestamp["nsec"])

        new_record["time"] = t
        new_record["log"] = record["MESSAGE"]
        new_record["process.command"] = record["_EXE"]
        new_record["process.command_line"] = record["_CMDLINE"]
        new_record["process.pid"] = record["_PID"]
        new_record["host.id"] = record["_MACHINE_ID"]
        new_record["service.name"] = record["_SYSTEMD_UNIT"]
        new_record["service.namespace"] = record["_SYSTEMD_SLICE"]

        return 1, timestamp, new_record
    end

  set_time_to_record.lua: |
    function set_time_to_record(tag, timestamp, record)
        if(record["logtag"]~=nil) then
            timeStr = os.date("!*t",  timestamp["sec"])
            t = string.format("%4d-%02d-%02dT%02d:%02d:%02d.%sZ",
            timeStr["year"], timeStr["month"], timeStr["day"],
            timeStr["hour"], timeStr["min"], timeStr["sec"],
            timestamp["nsec"]);
            record["time"] = t;

            return 1, timestamp, record
        else
            return 0,timestamp,record
        end
    end

  add_tag_to_record.lua: |
    function add_tag_to_record(tag, timestamp, record)
        record["tag"] = tag
        return 1, timestamp, record
    end

  modify_severity.lua: |
    function cb_modify(tag, timestamp, record)
      local unified_severity = cb_modify_unify_severity(record)

      if not unified_severity then
        return 0, 0, 0
      end

      return 1, timestamp, record
    end

    function cb_modify_unify_severity(record)
      local modified = false
      local severity = record["severity"]
      if severity == nil or severity == "" then
    	return modified
      end

      severity = trim(severity):upper()

      if severity == "I" or severity == "INF" or severity == "INFO" then
        record["severity"] = "INFO"
        modified = true
      elseif severity == "W" or severity == "WRN" or severity == "WARN" or severity == "WARNING" then
        record["severity"] = "WARN"
        modified = true
      elseif severity == "E" or severity == "ERR" or severity == "ERROR" or severity == "EROR" then
        record["severity"] = "ERR"
        modified = true
      elseif severity == "D" or severity == "DBG" or severity == "DEBUG" then
        record["severity"] = "DBG"
        modified = true
      elseif severity == "N" or severity == "NOTICE" then
        record["severity"] = "NOTICE"
        modified = true
      elseif severity == "F" or severity == "FATAL" then
        record["severity"] = "FATAL"
        modified = true
      end

      return modified
    end

    function trim(s)
      return (s:gsub("^%s*(.-)%s*$", "%1"))
    end


  parsers.conf: |
    [PARSER]
        Name                containerd-parser
        Format              regex
        Regex               ^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<message>.*)$
        Time_Key            time
        Time_Format         %Y-%m-%dT%H:%M:%S.%L%z
        Time_Keep           true
        Decode_Field_As     json log

  fluent-bit.conf: |
    [Service]
        Daemon                    false
        Flush                     30
        Http_Listen               0.0.0.0
        Http_Port                 2020
        Http_Server               true
        Log_Level                 info
        Parsers_File              /fluent-bit/config/parsers.conf
        Hot_Reload                On
        Mem_Buf_Limit             60MB
        storage.path              /var/run/fluentbit/chunks
        storage.sync              normal
        storage.metrics           on
        storage.checksum          off
        storage.max_chunks_up     200
        storage.backlog.mem_limit 100M
        storage.backlog.flush_on_shutdown true

    [Input]
        Name                      tail
        Tag                       kubernetes.*
        Path                      /var/log/containers/*.log
        Refresh_Interval          10
        DB                        /var/run/fluentbit/flb_kube.db
        DB.Sync                   normal
        Read_From_Head            true
        storage.type              filesystem
        storage.pause_on_chunks_overlimit on
        Parser                    containerd-parser
        Multiline.Parser          go

    [Input]
        Name                      systemd
        Tag                       systemd.*
        Path                      /var/log/journal
        Systemd_Filter            _SYSTEMD_UNIT=containerd.service
        Systemd_Filter            _SYSTEMD_UNIT=kubelet.service
        Systemd_Filter            _SYSTEMD_UNIT=gardener-node-agent.service
        DB                        /var/run/fluentbit/flb_systemd.db
        DB.Sync                   normal
        Read_From_Tail            true
        storage.type              memory

    [Filter]
        Name                      lua
        Match                     kubernetes.*
        script                    /fluent-bit/config/add_tag_to_record.lua
        call                      add_tag_to_record
    [Filter]
        Name                      lua
        Match                     kubernetes.*
        script                    /fluent-bit/config/set_time_to_record.lua
        call                      set_time_to_record
        Time_As_Table             true
    [Filter]
        Name                      lua
        Match                     kubernetes.*
        script                    /fluent-bit/config/modify_severity.lua
        call                      cb_modify

    [Filter]
        Name                      lua
        Match                     systemd.*
        script                    /fluent-bit/config/systemd.lua
        call                      set_systemd_record
        Time_As_Table             true
    [Filter]
        Name                      record_modifier
        Match                     systemd.containerd.*
        Record                    unit containerd.service
    [Filter]
        Name                      record_modifier
        Match                     systemd.kubelet.*
        Record                    unit kubelet.service
    [Filter]
        Name                      record_modifier
        Match                     systemd.gardener-node-agent.*
        Record                    unit gardener-node-agent.service



    [Output]
        Name                      gardener
        Match                     kubernetes.*
        LogLevel                  info
        Retry_Limit               10

        SeedType                  otlp_grpc
        ShootType                 otlp_grpc

        Endpoint                  logging-otel-collector-seed.fluent-bit.svc.cluster.local:4317
        Insecure                  true
        Timeout                   15m

        ThrottleEnabled           false
        ThrottleRequestsPerSec    1000

        DynamicHostPath           {"kubernetes": {"namespace_name": "namespace"}}
        DynamicHostPrefix         logging.
        DynamicHostSuffix         .svc.cluster.local:4317
        DynamicHostRegex          ^shoot-

        DQueDir                           /var/run/fluentbit/dque
        DQueName                          dynamic
        DQueSync                          normal
        DQueBatchProcessorMaxQueueSize    15000
        DQueBatchProcessorMaxBatchSize    500
        DQueBatchProcessorExportInterval  1s
        DQueBatchProcessorExportTimeout   15m

        RetryEnabled              true
        RetryInitialInterval      1s
        RetryMaxInterval          5m
        RetryMaxElapsedTime       15m

        HostnameKeyValue          nodename ${NODE_NAME}
        FallbackToTagWhenMetadataIsMissing true
        TagKey                    tag

    [Output]
        Name                      gardener
        Match                     systemd.*
        SeedType                  otlpgrpc
        LogLevel                  error
        Endpoint                  logging-otel-collector-seed.fluent-bit.svc.cluster.local:4317
        Insecure                  true
        Origin                    systemd_journal
        HostnameValue             ${NODE_NAME}
        FallbackToTagWhenMetadataIsMissing false
