[Output]
    Name loki
    Match *
    Url http://loki.garden.cluster.local:3100/loki/api/v1/push
    BatchWait 1
    # (1sec)
    BatchSize 30720
    # (30KiB)
    Labels {test="fluent-bit-go", lang="Golang"}
    LineFormat key_value
    LabelSelector role:shoot
    DynamicHostPath {"kubernetes": {"namespace_name": "namespace"})
    DynamicHostPrefix http://loki.
	DynamicHostSulfix .cluster.local:3100/loki/api/v1/push
	DynamicHostRegex shoot--

[PLUGINS]
    Path /fluent-bit/plugins/out_loki.so
